 .u-section-1 {
  background-image: url("images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 525px;
  margin: 13px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 18px 46px 20px 45px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 27px 30px;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("/images/pp.jpg");
  background-position: 50% 50%;
  margin: -95px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 30px 13px 0;
}

.u-section-1 .u-social-icons-2 {
  height: 25px;
  min-height: 16px;
  width: 99px;
  min-width: 72px;
  margin: 47px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-2 {
    width: 136px;
    min-width: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-1 .u-btn-1 {
    padding: 13px 31px 13px 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 459px;
    order: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: -66px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 41px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 814px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 245px;
  margin: 63px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 501px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-2 .u-image-1 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-2 .u-image-2 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-2 .u-image-3 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-2 .u-image-4 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-5 {
  padding: 16px 20px;
}

.u-section-2 .u-image-5 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-6 {
  padding: 16px 20px;
}

.u-section-2 .u-image-6 {
  height: 252px;
  width: 326px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 730px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    height: 247px;
    width: 320px;
  }

  .u-section-2 .u-image-3 {
    height: 247px;
    width: 320px;
  }

  .u-section-2 .u-image-4 {
    height: 247px;
    width: 320px;
  }

  .u-section-2 .u-image-5 {
    height: 247px;
    width: 320px;
  }

  .u-section-2 .u-image-6 {
    height: 247px;
    width: 320px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-17:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-20:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-23:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]),
.u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]).u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-cfd0-32:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-family: Poppins;
  text-transform: none;
  font-weight: 700;
  margin: 76px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 700;
  width: 817px;
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  width: 867px;
  margin: 89px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 194px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 155px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 10px 276px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 6px 77px 0 0;
}

.u-section-3 .u-text-6 {
  margin: -135px 479px 113px 0;
}

.u-section-3 .u-list-2 {
  width: 867px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 194px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-2 {
  width: 598px;
  min-height: 195px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 10px 276px 0 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.6;
  margin: 5px 77px 0 0;
}

.u-section-3 .u-text-10 {
  margin: -175px 479px 153px 0;
}

.u-section-3 .u-list-3 {
  width: 867px;
  margin: 51px auto 0;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 219px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-3 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-13 {
  line-height: 1.6;
  margin: 5px 77px 0 0;
}

.u-section-3 .u-text-14 {
  margin: -190px 609px 168px 0;
}

.u-section-3 .u-list-4 {
  width: 867px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 219px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-4 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-17 {
  line-height: 1.6;
  margin: 10px 77px 0 0;
}

.u-section-3 .u-text-18 {
  margin: -190px 609px 0 0;
}

.u-section-3 .u-list-5 {
  width: 867px;
  margin: 26px auto 0;
}

.u-section-3 .u-repeater-5 {
  grid-template-columns: 100%;
  min-height: 229px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-5 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-21 {
  margin: 14px 77px 0 0;
}

.u-section-3 .u-text-22 {
  margin: -190px 609px 0 0;
}

.u-section-3 .u-list-6 {
  width: 867px;
  margin: 11px auto 0;
}

.u-section-3 .u-repeater-6 {
  grid-template-columns: 100%;
  min-height: 229px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-line-6 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-6 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-24 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-25 {
  margin: 14px 77px 0 0;
}

.u-section-3 .u-text-26 {
  margin: -190px 609px 168px 0;
}

.u-section-3 .u-list-7 {
  width: 867px;
  margin: 6px auto 0;
}

.u-section-3 .u-repeater-7 {
  grid-template-columns: 100%;
  min-height: 229px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-13 {
  padding: 0;
}

.u-section-3 .u-line-7 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-7 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-27 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-28 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-29 {
  margin: 14px 77px 0 0;
}

.u-section-3 .u-text-30 {
  margin: -190px 609px 168px 0;
}

.u-section-3 .u-list-8 {
  width: 867px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-8 {
  grid-template-columns: 100%;
  min-height: 229px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-15 {
  padding: 0;
}

.u-section-3 .u-line-8 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-8 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-31 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-32 {
  font-weight: 700;
  font-family: Poppins;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-33 {
  margin: 14px 77px 0 0;
}

.u-section-3 .u-text-34 {
  margin: -190px 609px 168px 0;
}

.u-section-3 .u-list-9 {
  width: 867px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-9 {
  grid-template-columns: 100%;
  min-height: 229px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-17 {
  padding: 0;
}

.u-section-3 .u-line-9 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-group-9 {
  width: 598px;
  min-height: 210px;
  height: auto;
  margin: 6px 1px 0 auto;
}

.u-section-3 .u-container-layout-18 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-35 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-36 {
  font-weight: 700;
  font-family: Poppins;
  margin: 10px 34px 0 0;
}

.u-section-3 .u-text-37 {
  margin: 14px 77px 0 0;
}

.u-section-3 .u-text-38 {
  margin: -190px 609px 168px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 76px auto 60px;
  padding: 15px 97px 15px 95px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-line-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-line-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 332px;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 332px;
  }

  .u-section-3 .u-list-3 {
    width: 720px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-4 {
    width: 720px;
  }

  .u-section-3 .u-text-18 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-5 {
    width: 720px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-6 {
    width: 720px;
  }

  .u-section-3 .u-text-26 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-7 {
    width: 720px;
  }

  .u-section-3 .u-text-30 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-8 {
    width: 720px;
  }

  .u-section-3 .u-text-34 {
    margin-top: 20px;
    margin-right: 462px;
  }

  .u-section-3 .u-list-9 {
    width: 720px;
  }

  .u-section-3 .u-text-38 {
    margin-top: 20px;
    margin-right: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 152px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 152px;
  }

  .u-section-3 .u-list-3 {
    width: 540px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-4 {
    width: 540px;
  }

  .u-section-3 .u-group-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-5 {
    width: 540px;
  }

  .u-section-3 .u-group-5 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-6 {
    width: 540px;
  }

  .u-section-3 .u-group-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-25 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-7 {
    width: 540px;
  }

  .u-section-3 .u-group-7 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-29 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-8 {
    width: 540px;
  }

  .u-section-3 .u-group-8 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-33 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-34 {
    margin-right: 282px;
  }

  .u-section-3 .u-list-9 {
    width: 540px;
  }

  .u-section-3 .u-group-9 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-36 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-37 {
    margin-right: 59px;
  }

  .u-section-3 .u-text-38 {
    margin-right: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3161px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 58px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 58px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 301px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-list-4 {
    width: 340px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-right: 82px;
  }

  .u-section-3 .u-list-5 {
    width: 340px;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-right: 0;
  }

  .u-section-3 .u-text-22 {
    margin-right: 82px;
  }

  .u-section-3 .u-list-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-6 {
    min-height: 300px;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 0;
  }

  .u-section-3 .u-text-25 {
    margin-right: 0;
  }

  .u-section-3 .u-text-26 {
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-list-7 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-7 {
    min-height: 325px;
  }

  .u-section-3 .u-group-7 {
    width: 340px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 0;
  }

  .u-section-3 .u-text-29 {
    margin-right: 0;
  }

  .u-section-3 .u-text-30 {
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-list-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-8 {
    min-height: 302px;
  }

  .u-section-3 .u-group-8 {
    width: 340px;
  }

  .u-section-3 .u-text-31 {
    width: auto;
  }

  .u-section-3 .u-text-32 {
    margin-right: 0;
  }

  .u-section-3 .u-text-33 {
    margin-right: 0;
  }

  .u-section-3 .u-text-34 {
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-list-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-9 {
    min-height: 300px;
  }

  .u-section-3 .u-group-9 {
    width: 340px;
  }

  .u-section-3 .u-text-36 {
    margin-right: 0;
  }

  .u-section-3 .u-text-37 {
    margin-right: 0;
  }

  .u-section-3 .u-text-38 {
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 41px;
    margin-right: -14px;
  }
}